@page "/management/trips/"
@using TripAhead.Trips.Contracts.Models
@using TripAhead.Web.Clients
@attribute [StreamRendering(true)]
@attribute [OutputCache(Duration = 5)]

@inject TripsApiClient TripsApi

<PageTitle>Trips - All trips</PageTitle>

<h1>Weather</h1>

<p>This component demonstrates showing data loaded from a backend API service.</p>

@if (_response == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <h1>@(_response)</h1>
}

@code {
    private List<TripViewModel>? _response;

    protected override async Task OnInitializedAsync()
    {
        _response = await TripsApi.GetTripsAsync();
    }

}